.frame {
width:200px;
background: white;
border: #AC2306 solid 8px;
text-align: center;
padding-top: 80px;
padding-bottom: 80px;
padding-left: 30px;
padding-right:30px;
}

img {
  width:200px; height: 130px;
}
span {
  color:#AC2306;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: "Brush Script MT", arial;
}
.of_coding {
  font-size: 47px;
}

.zero_one {
  width: 50px;
  height: 80px;
  border-radius: 50%;
  border: 20px solid white;
}


.HUNDRED {
  color:blue;
}
